@inject SignInManager<RevTeckUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<link rel="stylesheet" href="~/css/user/account_options.css">

<ul class="nav nav-pills flex-column">
    <li class="nav-item-opt"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item-opt"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item-opt"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item-opt"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item-opt"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
    <button id="admin-reg-button" class="admin-reg-button">Register as Admin</button>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Enter the Super Secret Admin Password</h2>
            <span id="close" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <input type="password" id="admin-password" placeholder="Enter password">
        </div>
        <div class="modal-footer">
            <button id="register-button" onclick="submitAdminForm()">Register As Admin</button>
        </div>
    </div>
</div>

<script src="~/js/user/account.js"></script>