@model ICollection<AllManufacturerViewModel>;

<link rel="stylesheet" href="~/css/admin/allVehicles.css">
<script src="~/js/admin/allVehicles.js"></script>
<h1 class="title-page">All Vehicles</h1>
<div class="manufacturer-container">
    @foreach (var manufacturer in Model)
    {
        <div class="manufacturer-item">
            <div class="line">
                <img src="@manufacturer.ImageURL" alt="@manufacturer.Name logo">
            </div>
            <div class="model-container">
                @foreach (var carModel in manufacturer.Models)
                {
                    <div class="model-item">
                        <h3>@carModel.ModelName</h3>
                        <img src="@carModel.ImageURL" alt="@carModel.ModelName image">
                        <p>Years Produced: @carModel.YearCreated_Start - @carModel.YearCreated_End</p>
                        <button class="remove-btn" onclick="showConfirmation(@carModel.Id,'@manufacturer.Name', '@carModel.ModelName')">Remove</button>
                        <a class="edit-btn" asp-action="EditVehicle" asp-controller="Admin" asp-route-carModelId="@carModel.Id">Edit</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <p id="confirmationMessage"></p>
        <button id="yesButton">Yes</button>
        <button id="noButton">No</button>
    </div>
</div>
