@model ICollection<AllManufacturerViewModel>;

    <link rel="stylesheet" href="~/css/admin/removeVehicle.css">

<div class="manufacturer-container">
    @foreach (var manufacturer in Model)
    {
        <div class="manufacturer-item">
            <h2>@manufacturer.Name</h2>
            <img src="@manufacturer.ImageURL" alt="@manufacturer.Name logo">
            <div class="model-container">
                @foreach (var carModel in manufacturer.Models)
                {
                    <div class="model-item">
                        <h3>@carModel.ModelName</h3>
                        <img src="@carModel.ImageURL" alt="@carModel.ModelName image">
                        <p>Years Produced: @carModel.YearCreated_Start - @carModel.YearCreated_End</p>
                    </div>
                }
            </div>
        </div>
    }
</div>

